@{
    ViewData["Title"] = "Home Page";
}

<script>
    window.setInterval('refresh()', 10000);
    // Call a function every 10000 milliseconds
    // (OR 10 seconds).

    // Refresh or reload page.
    function refresh() {
        window .location.reload();
    }
</script>

<h1>@ViewBag.User</h1>
<h2>@ViewBag.numActive Active Users </h2>
<br />
@{
    var tables = ViewBag.Tables;
    if (tables != null)
    {
        foreach (string id in tables)
        {
            <a href="/game/@id">Table @id</a>
            <br />
        }
    }
}

<br />
<form action="/game/create" method="post" id="nameform" />
<button type="submit" form="nameform" value="Submit">Start Game!</button>