
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form action="/login" method="post" id="nameform">
    <label for="username">username:</label>
    <input type="text" id="username" name="username"><br><br>
</form>

<button type="submit" form="nameform" value="Submit">Submit</button>
